/* GENERELT*/

h1 {
  text-align: center;
  padding-block-end: 2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 40px;
}

article > h2,
.cont-1 > h2,
.cont-2 > h2 {
  padding-block: 1.5rem 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

article > h3 {
  padding-block-end: var(--pad-end);
}

/* VIDEO */
/*video layout*/
.video-player {
  display: grid;
  padding-block-end: var(--pad-end);
}

.video-player > * {
  grid-area: 1/1;
}
video {
  border: 1px solid #d5c17a;
  inline-size: 100%;
  /*fylder kun container*/
  border: 1px solid #d5c17a;
}

/*video play knap layout*/
/*fra Dannie's repo - videoplayer*/
.video-player button {
  background: transparent;
  border: none;
  font-weight: 700;
  letter-spacing: 0.075rem;
  padding: 0;
  color: #fff;
  z-index: 1;
  border-radius: inherit;
  cursor: pointer;
  transition: 0.3s;
  display: grid;
  place-content: center;
}

/*afspil knap*/
.video-player button svg {
  inline-size: 100px;
  display: block;
  color: #d5c17a;

  transition: 0.3s;
}

/*gemmer svg knap væk -  tilføjet selv*/
.video-player button.hide {
  opacity: 0;
}

.video-player.playing {
  transform: none;
}

/*sørger for controls ikke er gemt bag svg container*/
.playing button {
  pointer-events: none;
}

/* VÆRDIER */
.vaerdier {
  display: flex;
  flex-direction: column;
}

/* OM BUTIK OG VÆRDIER*/

.om_butikken,
.vaerdier,
.forhandlere {
  margin-inline: auto;
  padding-block-end: 2rem;
  max-width: 900px;
}

/* OM BUTIKKEN */
.om_butikken {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#om_butikken {
  margin-top: 2em;
}

/* FORHANDLERE */
#book_background {
  display: grid;
  place-items: center;
}

/*  sørg for at tekstindhold står i/på  svg */
#book_background > img,
#book_background > section {
  grid-area: 1/1;
}

#book {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/*layout format for selve tekstindholdet*/

/*layout  format for tekstindholdet af forhandlerne */

#book_background {
  position: relative;
  display: inline-block;
  /*container og img str matcher.*/
  font-size: 0;
}

.forhandler_flex {
  display: flex;
  /*sørger for layout bliver flex og ikke block*/
  flex-direction: row;
  align-content: space-between;
  position: absolute;
  top: 2rem;
  box-sizing: border-box;
  max-height: calc(100% - 3.5rem);
  /*sørger for at det bliver indenfor container*/
  padding: 1rem 2rem;
  font-size: 1rem;
  /*resizer font*/
  overflow: scroll;
}
.forhandler_flex.scroll {
  display: none;
}
.louisa_content_flex,
.emilie_content_flex {
  display: flex;
  flex-direction: row;
  margin-left: 4em;
  padding: 0.5em;
}
.louisa_content_flex > figure,
.emilie_content_flex > figure {
  align-content: start;
  align-self: start;
  margin-right: 15px;
}

.louisa_content_flex img,
.emilie_content_flex img {
  max-width: 100%;
}
/* format på hele Emilie containeren*/
#Emilie {
  margin-left: 1em;
  padding: 0 1.5em;
}

/* MOBIL VERSION */
@media (max-width: 600px) {
  p {
    break-inside: avoid;
  }

  .louisa_content_flex,
  .emilie_content_flex {
    display: flex;
    flex-direction: row;
  }

  .forhandler_flex {
    padding: 1rem;
  }

  .louisa_content_flex,
  .emilie_content_flex {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
  }

  #Emilie {
    margin-left: 2.5em;
    padding: 0rem 0.5rem;
    overflow: scroll;
  }
  #Louisa {
    padding: 0rem 0.5rem;
    overflow: scroll;
  }

  .louisa_content_flex > figure,
  .emilie_content_flex > figure {
    align-content: start;
    align-self: start;
    margin-bottom: 10px;
  }

  .louisa_content_flex img,
  .emilie_content_flex img {
    max-width: 100%;
    float: left;
    margin-inline-end: 5px;
    margin-block-end: 5px;
  }
}

@media (min-width: 800px) {
  #om-os-grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    gap: var(--pad-end);
    padding-block-end: 2rem;
  }

  .cont-2 {
    padding-inline-start: var(--pad-end);
  }

  .louisa_content_flex img,
  .emilie_content_flex img {
    max-width: 100%;
    float: left;
    margin-inline-end: 5px;
    margin-block-end: 5px;
  }
}
