.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

figcaption {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.image1 {
  max-width: 100%;
}

.image2 {
  max-width: 100%;
}

.image3 {
  max-width: 100%;
}

.image4 {
  max-width: 100%;
}

.image5 {
  max-width: 100%;
}

.image6 {
  max-width: 100%;
}

.image7 {
  max-width: 100%;
}

.image8 {
  max-width: 100%;
}

.image9 {
  max-width: 100%;
}

.image10 {
  max-width: 100%;
}

.image11 {
  max-width: 100%;
}

.image12 {
  max-width: 100%;
}
