.main-sortiment > h1 {
  padding-block-end: 2rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 40px;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

figcaption {
  text-align: center;
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

.flex-col {
  display: flex;
  gap: 0.8rem;
}

.image {
  max-width: 100%;
}
