.find-us {
}

.contact-h1 {
  text-align: center;
  padding-block-end: 2rem;
}

.aabningstid-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

.aabningstid-dage > ul,
.aabningstid-tider > ul,
.adresse-container > ul {
  list-style: none;
  padding-inline-start: 0;
}

.aabningstid-dage > ul > li,
.aabningstid-tider > ul > li,
.adresse-container > ul > li {
  margin-block-end: 5px;
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
}

.aabningstid-dage {
  max-width: 200px;
}

.aabningstid-tider,
.maps-container {
  text-align: start;
}

.aabningstid,
.adresse,
.maps {
  margin-inline: auto;
  border: 1px solid rgba(71, 69, 68, 0.5);
  margin-block-end: 1rem;
  padding: 1rem;
  max-width: 900px;
}
.aabningstid > h2,
.adresse > h2,
.maps > h2 {
  padding-block-end: 1rem;
  text-decoration: underline rgba(71, 69, 68, 0.5) solid 2px;
  text-underline-offset: 10px;
}

.adresse-container,
.maps-container {
  text-align: center;
}

.maps-container {
  display: flex;
  justify-content: center;
}

/*=========== FORM =============*/
button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 0.1px #474544;
  max-width: 900px;
  margin: 50px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 30px 0;
}

#h1_contact {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #474544;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding-block-start: 1em;
}

input[type="text"],
[type="email"],
select {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2.3em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2em 0;
  padding: 0 0 1em 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 1em 0;
}

.name {
  float: left;
  width: 45%;
}

.email {
  float: right;
  width: 45%;
}

.telephone {
  width: 100%;
}

.subject {
  width: 100%;
}

.message {
  float: none;
}

select {
  appearance: none;
  background: url("img/svg/arrow_down.svg") no-repeat right;
  outline: none;
}

textarea {
  font-family: "EB Garamond", serif;
  color: #000000;
  font-size: 1.1rem;
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media (min-width: 1162px) {
  .find-us {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 300px));
    justify-content: center;
  }

  .aabningstid-container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(120px, 1fr);
    gap: 1rem;
  }

  .aabningstid,
  .adresse,
  .maps {
    margin-inline: auto;
    border: none;
    margin-block-end: 1rem;
    padding: 1rem;
    width: 50%;
  }

  .aabningstid > h2,
  .adresse > h2 {
    padding-block-end: 1rem;
    text-decoration: underline rgba(71, 69, 68, 0.5) solid 2px;
    text-underline-offset: 10px;
    text-align: center;
  }
}
