.container-udgivelser {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  gap: 1rem;
  max-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 8px;
}

.container-udgivelser .bog {
  max-width: 250px;
}

.h1-udgivelser {
  padding-block-end: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 40px;
}

.pre-btn,
.nxt-btn {
  display: inline-block;
  border: none;
  width: 2%;
  height: 10%;
  background: none;
  cursor: pointer;
}

.pre-btn {
  transform: rotateY(180deg);
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.3;
  width: 100%;
  vertical-align: top;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 0.6;
}

@media (max-width: 480px) {
  .container-anbefalinger {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 1rem;
    max-height: 800px;
    padding: 1rem;
  }

  .anbefaling1,
  .anbefaling2,
  .anbefaling3 {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
  }
}

.anbefaling1 img,
.anbefaling2 img,
.anbefaling3 img {
  max-width: 250px;
  height: 100%;
}

.h1-anbefalinger {
  padding-block: 2rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}
