/* === INFO === INFO === INFO ===

Paragraf: font-family: 'EB Garamond', serif;
MENU: font-family: 'Lato', sans-serif;
Header (h1, h2 osv.): font-family: 'Vidaloka', serif;

========= GLOBALT - START ========= */
* {
  margin: 0;
  font-size: 16px;
}

body {
  margin-inline: auto;
  background-image: url(img/COLOURBOX32724169.jpg);
  background-size: cover;
  background-repeat: repeat;
}

h1 {
  font-size: 32px;
  font-family: "Vidaloka", serif;
}

h2 {
  font-size: 24px;
  font-family: "Vidaloka", serif;
}

h3 {
  font-size: 18.72px;
  font-family: "Vidaloka", serif;
}

h4 {
  font-size: 16px;
  font-family: "Vidaloka", serif;
}

p {
  font-size: 16px;
  font-family: "EB Garamond", serif;
}

.menu-font {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
}

main {
  margin-inline: 15%;
  margin-block: 5%;
}

.hidden {
  display: none;
}

/* ======== HEADER ======== */

.banner {
  background: rgb(213, 193, 122);
  padding: 0.1em 5%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 50;
}

.logo > a > img {
  width: 100px;
  height: 100px;
}

.header-text {
  font-size: 1.5rem;
}

.banner > a > img {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.toggle-btn {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.main-menu {
  display: contents;
}

.main-menu ul {
  display: none;
}

.main-menu.shown ul {
  text-decoration: none;
  list-style: none;
  gap: 2em;
  border-top: 2px solid #000;
  padding-block: 1.5rem 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row;
  justify-content: center;
}
/* ========== UNDERLINE EFFECT PÅ LINKS ============ */

.main-menu a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.main-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
  transform: translate3d(0, 0, 0);
}

/*=========== TAK =========== */
.tak {
  padding-block-end: 2rem;
}

.tak-btn {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  outline: none;
  padding: 15px 25px;
  text-transform: uppercase;
  transition: all 0.3s;
  margin: 0;
}

.tak-btn:hover {
  background: #474544;
  color: #f2f3eb;
}

@media (max-width: 570px) {
  /* ========= GLOBALT - START =========
  
  =========== HEADER =========== */

  .banner {
    padding: 0.25rem;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
  }

  .main-menu a {
    display: inline-block;
  }

  /* ========= GLOBALT - SLUT ========= */
}
